body{
    background: lightblue;
}

.imgBox{
    background-image: url(image.jpg);
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.whiteBox{
    height: 212px;
    width: 212px;
    margin: 10px 10px;
    background-color: white;
    display: inline-block;
    border: 3px black solid;
}

.hold{
    border: 4px solid pink;
}

.dashed{
    background: grey;
    border-style: dashed;
}

.hide{
    display: none;
}